body {
    font-size: 23pt;
    background-repeat: no-repeat;
    background-size: 100% 125%;
    background-image: url(/minimal-6847645_1280.jpg)
}
div.Kata {
  color: midnightblue;
}

h2 {
  align-content: center;
}